In [1]:
 pip install pyodbc

Requirement already satisfied: pyodbc in c:\programdata\anaconda3\lib\site-packages (4.0.0-unsupported)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pyodbc
from random import *
import datetime
import pandas as pd

In [3]:
pyodbc.drivers()

['SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'SQL Server Native Client 11.0',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server']

In [4]:
conn = pyodbc.connect('Driver={SQL Server Native Client 11.0};'
                      'Server=SB2000LAP7316\SQLEXPRESS;'
                      'Database=FRM;'
                      'Trusted_Connection=yes;')

In [ ]:
cursor = conn.cursor()
cursor.execute('select * from dbo.may')

for i in cursor:
    print(i)

In [6]:
query = """select * from dbo.may"""
df = pd.read_sql(query, conn)
print(df)

          S_NO                              TRAN_ID  \
0       4373.0  YBL7c83d2d535e0472989354e661773cdf2
1       4374.0  IBLb8ecccd7601341439f3ca8984fe06984
2       4375.0  YBL085b31c627ce4f20b2797d2f91d97244
3       4376.0  AXL4ae3ebb2b1464b7f9a213739a3ea4466
4       4377.0  PTMa854c6b6ebb64748ab004929398e950e
...        ...                                  ...
65530  63838.0  YBL6239887c05924b799cf268c6832d60e6
65531  63839.0  SBI06d2e7cf2a374d51920a99bf8b13663e
65532  63840.0  SBIa974ec161e294a0b94a3cc8942167dcf
65533  63841.0  PTMf03f1f590faa45188f90ca7d922e041b
65534  63842.0  ICIa58614cb9820469caa48b27317772481

                       TRAN_TYPE     PAYER_MOB  PAYER_ACCT_NO  \
0                          DEBIT  9.194100e+11   1.018105e+11
1                         CREDIT  9.179822e+11   2.015981e+10
2                          DEBIT  9.184308e+11   1.009100e+11
3      BALANCE ENQUIRY (ISSUING)  9.198190e+11   1.016105e+11
4      BALANCE ENQUIRY (ISSUING)  9.195202e+11   1.003105e+11
...                          ...           ...            ...
65530  BALANCE ENQUIRY (ISSUING)  9.196504e+11   1.007100e+11
65531                      DEBIT  9.198711e+11   1.027100e+11
65532                     CREDIT  9.189507e+11   3.957323e+10
65533                      DEBIT  9.194504e+11   1.024105e+11
65534                      DEBIT  9.178307e+11   1.012100e+11

                    PAYER_ADDRESS  \
0          9410041613sandeep1@ybl
1              avinash.sudhir@ibl
2                  8430811435@ybl
3              amarpal.rajput@axl
4                9520212907@paytm
...                           ...
65530              9650377291@ybl
65531  chandraprakash120184@oksbi
65532       katariarohit073@oksbi
65533            9450396523@paytm
65534    gaganfab.shamlal@okicici

      Payee Account Number (CREDIT txn and mobile nuber to fetch from   \
0                                                   None
1                                                   None
2                                                   None
3                                                      -
4                                                      -
...                                                  ...
65530                                                  -
65531                                               None
65532                                               None
65533                                               None
65534                                               None

           TRAN_DATE_TIME    REQUEST_DATE_TIME   RESPONSE_DATE_TIME   AMOUNT  \
0     2022-05-01 09:30:47  01/05/2022 09:30:47  01/05/2022 09:30:47    400.0
1     2022-05-01 09:30:48  01/05/2022 09:30:48  01/05/2022 09:30:49    128.0
2     2022-05-01 09:30:50  01/05/2022 09:30:49  01/05/2022 09:30:50    300.0
3     2022-05-01 09:30:54  01/05/2022 09:30:54  01/05/2022 09:30:54      0.0
4     2022-05-01 09:30:54  01/05/2022 09:30:54  01/05/2022 09:30:54      0.0
...                   ...                  ...                  ...      ...
65530 2022-05-03 08:07:05  03/05/2022 08:07:05  03/05/2022 08:07:06      0.0
65531 2022-05-03 08:07:07  03/05/2022 08:07:07  03/05/2022 08:07:08    120.0
65532 2022-05-03 08:07:15  03/05/2022 08:07:15  03/05/2022 08:07:15      1.0
65533 2022-05-03 08:07:17  03/05/2022 08:07:17  03/05/2022 08:07:18    500.0
65534 2022-05-03 08:07:18  03/05/2022 08:07:18  03/05/2022 08:07:19  10000.0

      TRAN_STATUS RESPONSE_ADDRESS                          TRAN_REF_ID  \
0         SUCCESS         Approved              T2205010930376401168006
1         SUCCESS         Approved              T2205010930344319085607
2         SUCCESS         Approved              T2205010930454784236970
3         SUCCESS         Approved             UM2205010930472477571373
4         SUCCESS         Approved  PTMa854c6b6ebb64748ab004929398e950e
...           ...              ...                                  ...
65530     SUCCESS         Approved             UM2205030806569358798470
65531     SUCCESS         Approved  SBI06d2e7cf2a374d51920a99bf8b13663e
65532     SUCCESS         Approved  SBIa974ec161e294a0b94a3cc8942167dcf
65533     SUCCESS         Approved  PTMf03f1f590faa45188f90ca7d922e041b
65534     SUCCESS         Approved  ICIa58614cb9820469caa48b27317772481

      PAYEE_MOB_NO  SOL_ID
0       9410041613  1018.0
1       7982150844  1015.0
2       8430811435  1009.0
3       9818972408  1016.0
4       9520212907  1003.0
...            ...     ...
65530   9650377291  1007.0
65531   9871094043  1027.0
65532   8950707095  1014.0
65533   9450396523  1024.0
65534   7830735151  1012.0

[65535 rows x 16 columns]

In [7]:
df.dtypes

S_NO                                                                       float64
TRAN_ID                                                                     object
TRAN_TYPE                                                                   object
PAYER_MOB                                                                  float64
PAYER_ACCT_NO                                                              float64
PAYER_ADDRESS                                                               object
Payee Account Number (CREDIT txn and mobile nuber to fetch from             object
TRAN_DATE_TIME                                                      datetime64[ns]
REQUEST_DATE_TIME                                                           object
RESPONSE_DATE_TIME                                                          object
AMOUNT                                                                     float64
TRAN_STATUS                                                                 object
RESPONSE_ADDRESS                                                            object
TRAN_REF_ID                                                                 object
PAYEE_MOB_NO                                                                object
SOL_ID                                                                     float64
dtype: object

In [8]:
df.head()

,S_NO,TRAN_ID,TRAN_TYPE,PAYER_MOB,PAYER_ACCT_NO,PAYER_ADDRESS,Payee Account Number (CREDIT txn and mobile nuber to fetch from,TRAN_DATE_TIME,REQUEST_DATE_TIME,RESPONSE_DATE_TIME,AMOUNT,TRAN_STATUS,RESPONSE_ADDRESS,TRAN_REF_ID,PAYEE_MOB_NO,SOL_ID
0,4373.0,YBL7c83d2d535e0472989354e661773cdf2,DEBIT,9.194100e+11,1.018105e+11,9410041613sandeep1@ybl,None,2022-05-01 09:30:47,01/05/2022 09:30:47,01/05/2022 09:30:47,400.0,SUCCESS,Approved,T2205010930376401168006,9410041613,1018.0
1,4374.0,IBLb8ecccd7601341439f3ca8984fe06984,CREDIT,9.179822e+11,2.015981e+10,avinash.sudhir@ibl,None,2022-05-01 09:30:48,01/05/2022 09:30:48,01/05/2022 09:30:49,128.0,SUCCESS,Approved,T2205010930344319085607,7982150844,1015.0
2,4375.0,YBL085b31c627ce4f20b2797d2f91d97244,DEBIT,9.184308e+11,1.009100e+11,8430811435@ybl,None,2022-05-01 09:30:50,01/05/2022 09:30:49,01/05/2022 09:30:50,300.0,SUCCESS,Approved,T2205010930454784236970,8430811435,1009.0
3,4376.0,AXL4ae3ebb2b1464b7f9a213739a3ea4466,BALANCE ENQUIRY (ISSUING),9.198190e+11,1.016105e+11,amarpal.rajput@axl,-,2022-05-01 09:30:54,01/05/2022 09:30:54,01/05/2022 09:30:54,0.0,SUCCESS,Approved,UM2205010930472477571373,9818972408,1016.0
4,4377.0,PTMa854c6b6ebb64748ab004929398e950e,BALANCE ENQUIRY (ISSUING),9.195202e+11,1.003105e+11,9520212907@paytm,-,2022-05-01 09:30:54,01/05/2022 09:30:54,01/05/2022 09:30:54,0.0,SUCCESS,Approved,PTMa854c6b6ebb64748ab004929398e950e,9520212907,1003.0

In [24]:
df.rename(columns={'TRAN_TYPE':'Transaction Type','PAYER_ACCT_NO':'Payer Account Number ( for DEBIT)','TRAN_DATE_TIME':'Transaction Date Time','AMOUNT':'Amount','Payee Account Number (CREDIT txn and mobile nuber to fetch from':'Payee Account Number (CREDIT txn and mobile nuber to fetch from cbs)','PAYER_ADDRESS':'Payer Address'},inplace=True)

In [ ]:
# df.head()

In [ ]:
# df.describe()

In [ ]:
# df.info()

In [26]:
df1 = df.loc[df['Transaction Type'] == 'DEBIT']
cols = ["Payer Account Number ( for DEBIT)","Transaction Date Time","Amount","Payee Account Number (CREDIT txn and mobile nuber to fetch from cbs)", "Payer Address"]
df1 = df1[cols]
df['Payer Account Number ( for DEBIT)']=df['Payer Account Number ( for DEBIT)'].astype(str)
df['Payee Account Number (CREDIT txn and mobile nuber to fetch from cbs)']=df['Payee Account Number (CREDIT txn and mobile nuber to fetch from cbs)'].astype(str)
df1 = df1.set_index('Payer Account Number ( for DEBIT)')
df1.head()

,Transaction Date Time,Amount,Payee Account Number (CREDIT txn and mobile nuber to fetch from cbs),Payer Address
Payer Account Number ( for DEBIT),,,,
1.018105e+11,2022-05-01 09:30:47,400.0,None,9410041613sandeep1@ybl
1.009100e+11,2022-05-01 09:30:50,300.0,None,8430811435@ybl
1.009101e+11,2022-05-01 09:31:08,200.0,None,mohdshadab499791@ybl
1.028120e+11,2022-05-01 09:31:09,20942.0,None,kundanmobilegallery@ybl
1.003105e+11,2022-05-01 09:31:14,11.0,None,9520212907@paytm

In [27]:
def getRecent(sdf):
  try:
    return sdf["Transaction Date Time"].iloc[-1]
  except:
    return sdf["Transaction Date Time"]
def getRecentAcc_no(sdf):
  try:
    return sdf["Payee Account Number (CREDIT txn and mobile nuber to fetch from cbs)"].iloc[-1]
  except:
    return sdf["Payee Account Number (CREDIT txn and mobile nuber to fetch from cbs)"]
def getAddress(sdf):
  d = dict()
  try:
    max=0
    for i in sdf['Payer Address']:
      upi = i.split('@')[1]
      try:
        d[upi]+=1
        max=max(d[upi],max)
      except:
        d[upi]=1
        max=max(d[upi],max)
  except:
    pass
  d["max_recent_freq"]=max
  return str(d)
def TimeSlot(sdf, start, end):
    ct = 0
    try:
      for i in sdf['Transaction Date Time']:
        time = i.time()
        if time>=start and time<=end:
          ct += 1
    except:
      pass
    return ct
def AmountSlot(sdf, minimum, maximum):
  ct = 0
  try:
    for i in sdf['Amount']:
      if i>=minimum and i<=maximum:
        ct += 1
  except:
    pass
  return ct

In [29]:
def getData(sdf, unique_acc):
  res = [unique_acc]
  
  maxi=0
  start = datetime.time(0, 0, 0)
  end = datetime.time(3, 59, 59)
  v=TimeSlot(sdf, start, end)
  maxi=max(maxi,v)
  res.append(v)

  start = datetime.time(4, 0, 0)
  end = datetime.time(7, 59, 59)
  v=TimeSlot(sdf, start, end)
  maxi=max(maxi,v)
  res.append(v)

  start = datetime.time(8, 0, 0)
  end = datetime.time(11, 59, 59)
  v=TimeSlot(sdf, start, end)
  maxi=max(maxi,v)
  res.append(v)

  start = datetime.time(12, 0, 0)
  end = datetime.time(15, 59, 59)
  v=TimeSlot(sdf, start, end)
  maxi=max(maxi,v)
  res.append(v)

  start = datetime.time(16, 0, 0)
  end = datetime.time(19, 59, 59)
  res.append(TimeSlot(sdf, start, end))
  maxi=max(maxi,TimeSlot(sdf, start, end))

  start = datetime.time(20, 0, 0)
  end = datetime.time(23, 59, 59)
  v=TimeSlot(sdf, start, end)
  maxi=max(maxi,v)
  res.append(v)

  res.append(maxi)
  maxi=0

  for i in range(0, 100000, 5000):
    minimum = i
    maximum = i+4999
    v=AmountSlot(sdf, minimum, maximum)
    maxi=max(maxi,v)
    res.append(v)

  res.append(maxi)

  res.append(getAddress(sdf))
  res.append(getRecent(sdf))
  res.append(getRecentAcc_no(sdf))

  return res

In [30]:
ct=0
mdf = pd.DataFrame(columns=['Payer Account Number', 'TimeSlot1', 'TimeSlot2', 'TimeSlot3', 'TimeSlot4', 'TimeSlot5', 'TimeSlot6','maxtimefreq', 'Amount1', 'Amount2', 'Amount3', 'Amount4', 'Amount5', 'Amount6', 'Amount7', 'Amount8', 'Amount9', 'Amount10', 'Amount11', 'Amount12', 'Amount13', 'Amount14', 'Amount15', 'Amount16', 'Amount17', 'Amount18', 'Amount19', 'Amount20','maxamountfreq', 'UPI', 'Recent Transaction', 'Last Payee Account Number'])

for unique_acc in df1.index.unique():
  sdf = df1.loc[unique_acc]
  mdf.loc[ct] = getData(sdf, unique_acc)
  ct += 1

In [31]:
mdf.head()

,Payer Account Number,TimeSlot1,TimeSlot2,TimeSlot3,TimeSlot4,TimeSlot5,TimeSlot6,maxtimefreq,Amount1,Amount2,...,Amount15,Amount16,Amount17,Amount18,Amount19,Amount20,maxamountfreq,UPI,Recent Transaction,Last Payee Account Number
0,1.018105e+11,0,0,2,0,0,0,2,2,0,...,0,0,0,0,0,0,2,"{'ybl': 1, 'max_recent_freq': 0}",2022-05-01 09:29:43,None
1,1.009100e+11,0,0,2,0,2,3,3,7,0,...,0,0,0,0,0,0,7,"{'ybl': 1, 'max_recent_freq': 0}",2022-05-02 16:52:41,MC100007583999
2,1.009101e+11,0,0,1,0,2,1,2,3,0,...,0,0,0,0,0,0,3,"{'ybl': 1, 'max_recent_freq': 0}",2022-05-02 20:29:52,None
3,1.028120e+11,0,0,3,0,0,0,3,0,0,...,0,0,0,0,0,0,3,"{'ybl': 1, 'max_recent_freq': 0}",2022-05-01 09:29:55,None
4,1.003105e+11,0,0,2,1,1,3,3,7,0,...,0,0,0,0,0,0,7,"{'paytm': 1, 'max_recent_freq': 0}",2022-05-01 14:31:35,MC100005494584

In [32]:
def Time(sdf):
  d = dict()
  base = 'TimeSlot'
  times = []
  for i in range(1, 7, 1):
    time = sdf[base+str(i)]
    times.append(time)
  
  times.sort(reverse=True)

  res = []
  
  for i in range(0, 6):
    diff = times[0]-times[i]
    res.append(diff)
  
  return str(res)

In [33]:
sdf = mdf.iloc[10]
Time(sdf)

'[0, 1, 3, 3, 4, 4]'

In [34]:
mdf.iloc[10]

Payer Account Number                           100910512089.0
TimeSlot1                                                   0
TimeSlot2                                                   0
TimeSlot3                                                   4
TimeSlot4                                                   3
TimeSlot5                                                   1
TimeSlot6                                                   1
maxtimefreq                                                 4
Amount1                                                     9
Amount2                                                     0
Amount3                                                     0
Amount4                                                     0
Amount5                                                     0
Amount6                                                     0
Amount7                                                     0
Amount8                                                     0
Amount9                                                     0
Amount10                                                    0
Amount11                                                    0
Amount12                                                    0
Amount13                                                    0
Amount14                                                    0
Amount15                                                    0
Amount16                                                    0
Amount17                                                    0
Amount18                                                    0
Amount19                                                    0
Amount20                                                    0
maxamountfreq                                               9
UPI                          {'axl': 1, 'max_recent_freq': 0}
Recent Transaction                        2022-05-02 12:32:39
Last Payee Account Number                                None
Name: 10, dtype: object

In [35]:
mdf = mdf.set_index('Payer Account Number')

In [50]:
def get_score(acc_no,amount,payee_acc_num,payer_address):
  payer_address=payer_address.split('@')[1]
  #try and catch block to check whether the payer account number is present in our database or not
  tdf=None
  try:
    tdf=mdf.loc[acc_no]
  except Exception as e:
    print("Account number is not present in the database")
    return 299

  score=0

  
  #To generate score for frequency corresponding to the given payee account number
  last=tdf["Recent Transaction"]
  last=str(last).split('.')[0]
  last=datetime.datetime.strptime(str(last), '%Y-%m-%d %H:%M:%S')
  last_payee=tdf["Last Payee Account Number"]
  now=datetime.datetime.now()
  curr_time=now.time()
  d=now-last
  if d.days==0:
    time_diff=d.seconds//60
    if time_diff<=4 and payee_acc_num==last_payee:
      score=20 
      print("Last transaction was made to the same account number within 4 minutes!!!")
    else:
      score=2.25

  #To generate the score for payer address
  upi=eval(tdf["UPI"])
  if payer_address in upi:
    v=upi.get(payer_address)
    maximum=upi.get('max_recent_freq')
    if maximum!=0:
        s=10.0-((10.0/maximum)*v)
        score+=s
    else:
        score+=10
  else:
    print("Payer address is not present in the database")
    score+=10.0 #generating very high score because payer address is not present corresponding to the payer account number
  
  #To generate score for time slot
  timeslot="TimeSlot"
  now=datetime.datetime.now()
  curr_time=now.time()
  if curr_time>=datetime.time(0, 0, 0) and curr_time<=datetime.time(3, 59, 59):
    timeslot="TimeSlot1"
  elif curr_time>=datetime.time(4, 0, 0) and curr_time<=datetime.time(7, 59, 59):
    timeslot="TimeSlot2"
  elif curr_time>=datetime.time(8, 0, 0) and curr_time<=datetime.time(11, 59, 59):
    timeslot="TimeSlot3"
  elif curr_time>=datetime.time(12, 0, 0) and curr_time<=datetime.time(15, 59, 59):
    timeslot="TimeSlot4"
  elif curr_time>=datetime.time(16, 0, 0) and curr_time<=datetime.time(19, 59, 59):
    timeslot="TimeSlot5"
  else:
    timeslot="TimeSlot6"
  
  timeslot1=tdf[timeslot]
  maximum=tdf["maxtimefreq"]
  if maximum!=0:
        s=10.0-((10.0/maximum)*timeslot1)
        score+=s
  else:
    score+=10
  if timeslot1==0:
    print("Out of normal transaction timing habit!!!")
  
  #To generate score for amount slot
  amountslot="Amount"
  k=0
  for i in range(0, 100000, 5000):
    minimum = i
    maximum = i+4999
    k=k+1
    if amount>=minimum and amount<=maximum:
      amountslot=amountslot+str(k)
      break
    amountslot1=tdf[amountslot]
    maximum=tdf["maxamountfreq"]
    if maximum!=0:
        s=10.0-((10.0/maximum)*amountslot1)
        score+=s
    else:
        score+=10
    if amountslot1==0:
      print("Out of normal transaction amount habit!!!")

  # updating the value of recent transaction date time and payee account number
  tdf["Recent Transaction"]=str(now)
  tdf["Last Payee Account Number"]=payee_acc_num
  mdf.loc[acc_no]=tdf

  return score

In [51]:
print(get_score(100112250233,250,20148987029,"8130528356@hbd"))

Payer address is not present in the database
Out of normal transaction timing habit!!!
20.0

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()

In [ ]:
ab=mdf.loc[100112250233]
print(ab)